@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .circle-animation {
    position: absolute;
    border: 4px solid rgba(255, 255, 255, 0.3); /* Light outer circle */
    border-top-color: #f47b2a; /* Highlight color */
    border-radius: 50%;
    animation: spin 5s linear infinite;
  }
  

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slideIn 1.5s ease-in-out;
  }
  